.root {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.logo {
    padding: 0 25px ;
}

.navigation {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.navigation>ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}