@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");

html,
body,
#root {
  height: 100%;
  font-family: "Lato", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

